.snakemake
benchmark/*
log/*

analysis/output/
analysis/src/.gitignore
data/**/*
pipeline/*

!data/markers/
!data/markers/*
!data/markers/**/*
!data/sc/
!data/sc/background.csv
!pipeline/ensembl_genes_*.tsv
